# Eclipse
.project
.classpath
.settings/
.metadata/

# Java
*.class
*.jar
*.war
*.ear

# Build folders
bin/
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE junk / temp files
*.tmp
*.bak
*.swp
*~

# Environment / secrets
.env

